body {
    font-family: 'Blinker', sans-serif;
}

.details {
    overflow-y: scroll;
    position: fixed;
    color: #fff;
    padding-top: 150px;
    width: 100%;
    height: 100%;
    background: #333;
    left: 0;
}

.more h6:first-child {
    margin-right: 5px;

}
.more {
    color: #999
}
.item {
    color: #000;
    margin-bottom: 30px;
}
